/* * {
    margin: 0;
    padding: 0;
}

header, main, footer, nav, aside, section, div  {
    display: block;
}

header{
    height: 140px;
    border-bottom:1px solid #818181;
    
}

.wrapper{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;    
}

.logo{
    position: relative;
    height: 140px;
    width: 195px;
    border-right:1px solid #818181;
}

.logo img{
    position: absolute;
    height: 120px;
    width: 145px;
    left: 10px;
}

.profilePic{
    position: absolute;
    top: 20px;
    left: calc(100vw - 120px);
    width: 80px;
    height: 80px;
    width: 80px;
    height: 80px;
}

.navigatin{
    position: absolute;
    width: 600px;
    left: 200px;
    top: 40px;
    height: 40px;
   
}

.navigatin a{
    border-right: 1px solid #818181;
    width: 90px;
    background-color: white;
}

.navbar{
    width: 600px;
    left: 0px;
    background-color: white !important;
}

.container-fluid{
    background-color: white;
}

.d-flex{
    position: relative;
    left: 20px;
}

.nav-link{
    text-align: center;
}

.navigatin a:nth-child(3) {
    border-right: none;
}


.side-menu {
    position: absolute;
    width: 195px;
    height: calc(100vh + 100px);
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    border-right:1px solid #818181;
}

.side-menu a:hover {
    color: #f1f1f1;
}

.side-menu a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    margin-bottom: 10px;
    display: block;
}

.side-menu a i {
    margin-right: 10px; 

  }

.userTool{
    position: absolute;
    width: 160px;
    height: 100px;
    border-top:1px solid #818181;
    left: 15px;
    margin-top: 400px;
    color: #818181;
}

.userTool a{
    position: relative;
    display: inline;
    font-size:12px;
    left: 0;
}

.main{
    position: relative;
    display: flex;
    width: 100vw;
    height: calc(100vh - 128px);
    
}

.form-control{
    width: 500px;
}

.breadcrumb {
    position: absolute;
    left: 200px;
    height: 40px;
    width: 200px;
}


.profilePic img{
    width: 80px;
    height: 80px;
    border-top-left-radius: 50% ;
    border-bottom-left-radius: 50% ;
    border-top-right-radius: 50% ;
    border-bottom-right-radius: 50% ;
}



.upper-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left:195px;
    height: 150px;
    width: calc(100vw - 195px);
    border-bottom:1px solid #818181;
    padding-right: 50px;
    padding-left: 50px;
}

.upper-main a{
    background-color: #818181 !important;
    border: none;
    font-size: 16px;
    width: 189px;
}

.upper-main a:hover{
    background-color: #b4b4b4 !important;
}

.my-chart{
    top: 160px;
    position: absolute;
    height: 280px;
    width: calc(100vw - 210px) !important;
    left: 220px;
}

#myChart{
    width: calc(100vw - 260px)!important;
    height: 530px !important;
    padding-bottom: 20px;
}
.dropdown i{
    font-size: 25px;
    margin-right: 20px;
    
}

.dropdown {
    position: relative;
    display: flex;
    padding-left: calc(100vw - 505px);
    justify-content: center;
    align-items: center; 
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content a {
    color: black;
    padding: 8px 0;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-btn {
    background-color: #3e8e41;
  }
  
  .dropdown-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropdown button{
    background-color: white !important;
    color: black;
  }

  .dropdown button:hover{
    background-color: #b4b4b4 !important;
    color: black !important;
  }

@media screen and (max-width:1207px){
    .profilePic img{
        display: none;
    }

    .side-menu{
        display: none;
    }

    .breadcrumb {
        left: 10px;
    }

    .upper-main{
        margin-left: 0px;
        width: 100vw;
    }

    .my-chart{
        left: 10px;
        
    }

    .dropdown {
        padding-left: calc(100vw - 220px);
      }

    #myChart{
        width: 90vw !important;
    }

    .d-flex{
        width: 450px;
        left: 20px;
    }
    .profilePic{
        left: calc(100vw - 300px);
    }
}

@media screen and (max-width:991px){

    .navigatin{
        left: 30px;
    }

    .d-flex{
        display: none !important;
    }

    .navigatin a{
        border: none;
    }

    .navbar-nav{
        width: 200px;
    }

    .navbar-collapse {
        width: 200px;
    }

    .nav-item{
    border: 1px solid #818181;
    width: 200px;
    background-color: white;
    z-index: 30;
    }

    .logo{
        left: 70vw;
        border-right: none;
        border-left: 1px solid #818181;
        z-index: 30;
    }

    .logo img{
        height: 80px;
        width: 105px;
        top: 20%;
        left: 15%;
        z-index: 30;
    }
}

@media screen and (max-width:860px){
    .breadcrumb{
        display: none;
    }
} */
