* {
    margin: 0;
    padding: 0;
}

header, main, footer, nav, aside, section, div  {
    display: block;
}

header{
    height: 140px;
    border-bottom:1px solid #818181;
    
}

.logIn_main{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 100px;
    max-width: 400px;
    padding: 30px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.error-message {
    color: #dc3545;
    font-size: 14px;
    margin-top: 10px;
}